section.hero {
    position: relative;
    height: calc(100vh - 10rem);
    min-height: 60rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
        position: absolute;
        content: '';
        z-index: -1;
        bottom: 190px;
        opacity: 0.08;
        left: 29%;
        width: 160px;
        height: 247px;
        mask: url(/circle.svg);
        -webkit-mask: url(/circle.svg);
        mask-size: 11.1%;
        -webkit-mask-size: 11.1%;
        background-color: var(--color-text);
    }

    &:after {
        position: absolute;
        content: '01';
        z-index: -1;
        right: calc((100% + 10rem - var(--frame-width)) / 2);
        bottom: 0;
        opacity: 0.1;
        color: #b5b5b5;
        font-family: 'Roboto Slab';
        font-size: 32rem;
        font-weight: 800;
        letter-spacing: -13px;
        clip-path: polygon(0% 0, 100% 0%, 100% 84%, 0% 84%);
    }

    .hero__content {
        width: 768px;
        min-height: 28rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hero__cta {
        margin-top: 2rem;
    }

    .scroll-down {
        position: absolute;
        bottom: 3rem;

        .scroll-icon {
            fill: var(--color-accent)
        }
    }

    .highlight {
        cursor: pointer;

        &:hover, &:focus, &:active {
            position: relative;
            color: var(--color-background);
            transition: color 0.1s;

            &:before {
                position: absolute;
                content: '';
                z-index: -1;
                width: 100%;
                height: 85%;
                box-shadow: 4px 4px 0px 0px var(--color-text);
                background: var(--color-accent);
                transform: rotate(-2deg);
                transition: 0.1s;
            }
        }
    }
}

