@keyframes logoColorChange {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 0% 100%;
    }
}

@media only screen and (min-width: 200px) {
    .header {
        position: sticky;
        z-index: 1000;
        top: 0;
        width: 100%;
        height: var(--header-height);
        max-height: var(--header-height);
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(var(--color-background-rgb), 0.7);
        box-shadow: var(--header-border-bottom);
        transition: box-shadow .1s ease 0s;
        backdrop-filter: saturate(180%) blur(5px);

        .logo {
            position: relative;
            width: calc(var(--header-height) - var(--header-padding) - var(--header-padding));
            height: calc(var(--header-height) - var(--header-padding) - var(--header-padding));
            display: flex;

            .logo--F, .logo--corner {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(210deg, var(--color-text), var(--color-text), var(--color-text), var(--color-text), var(--color-accent), var(--color-text), var(--color-text));
                background-position: 0 0;
                background-size: 400% 400%;
                transition: background 0.2s;
                clip-path: polygon(100.00% 18.73%, 81.48% 18.73%, 68.86% 40.38%, 68.35% 40.38%, 55.85% 18.73%, 52.03% 18.73%, 37.20% 18.73%, 5.30% 18.73%, 5.30% 87.16%, 21.82% 87.16%, 21.82% 59.62%, 49.03% 59.62%, 49.03% 46.19%, 21.82% 46.19%, 21.82% 32.20%, 45.34% 32.20%, 57.84% 52.97%, 36.65% 87.16%, 55.51% 87.16%, 55.51% 87.08%, 69.28% 65.97%, 99.87% 18.86%);
            }

            .logo--corner {
                background: var(--color-accent);
                clip-path: polygon(89.07% 68.64%, 79.45% 83.47%, 81.65% 87.16%, 100.64% 87.16%, 89.07% 68.64%);
            }

            .logo__link {
                width: 100%;
                height: 100%;
                display: block;

                &:hover, &:focus, &:active {
                    .logo--F {
                        animation: logoColorChange 0.4s linear;
                    }
                }
            }
        }

        .nav {
            display: flex;
            flex-grow: 2;
            justify-content: center;

            .nav__link {
                position: relative;
                margin: 0 var(--spacing-6);
                padding: var(--spacing-2) var(--spacing-2);
                color: inherit;
                font-size: var(--font-size-nav);
                font-weight: var(--font-weight-nav);
                text-decoration: none;
                transition: color ease-in-out 0.17s;

                &:before {
                    position: absolute;
                    content: '';
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background-color: var(--color-accent);
                    transition: ease-in-out 0.17s;
                }

                &:hover, &:focus, &:active, &.active {
                    outline: none;
                    color: var(--color-accent);

                    &:before {
                        width: 100%;
                    }
                }
            }
        }

        .nav--desktop {
            opacity: 0;
            pointer-events: none;
            transition: opacity ease-in 0.1s;
            will-change: opacity;

            &.active {
                opacity: 1;
                pointer-events: all;
            }
        }

        .nav-icon {
            position: absolute;
            z-index: 2100;
            right: calc((100% - var(--page-container-max-width)) / 2);
            width: 0;
            height: 24px;
            opacity: 0;
            display: block;
            cursor: pointer;
            pointer-events: none;
            transition: ease-in 0.05s;
            transition-delay: 0s;
            will-change: width;
            -webkit-tap-highlight-color: transparent;

            &.active {
                width: 32px;
                pointer-events: all;
                transition: width ease-in 0.1s;
                transition-delay: 0.1s;
                opacity: 1;
            }

            // CSS Burger Bar
            &__bar {
                position: absolute;
                left: 0;
                width: 100%;
                height: 3px;
                opacity: 1;
                display: block;
                background: #252627;
                transition: .2s;

                &:nth-child(1) {
                    top: 0;
                }

                &:nth-child(2),
                &:nth-child(3) {
                    top: 10px;
                }

                &:nth-child(4) {
                    top: 20px;
                }
            }

            // X Animation
            /*&.open {
                .nav-icon__bar {
                    background-color: #fff;

                    &:nth-child(1) {
                        top: 10px;
                        left: 50%;
                        width: 0;
                    }

                    &:nth-child(2) {
                        transform: rotate(45deg);
                    }

                    &:nth-child(3) {
                        transform: rotate(-45deg);
                    }

                    &:nth-child(4) {
                        top: 10px;
                        left: 50%;
                        width: 0;
                    }
                }
            }*/
        }

        .social-icons {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-right: var(--spacing-6);

            .social-icons__link {
                height: 100%;
                display: block;
                padding: var(--spacing-2);
                color: inherit;
                font-size: var(--font-size-nav);
                font-weight: var(--font-weight-nav);
                text-decoration: none;
                transition: color ease-in-out 0.17s;

                &:hover, &:focus, &:active, &.active {
                    outline: none;
                    color: var(--color-accent);
                }
            }

            .social-icons__link--version {
                font-size: var(--font-size-smaller);
            }
        }
    }
}
