.header {
  z-index: 1000;
  top: var(--border-width);
  background-color: rgba(var(--color-background-rgb), 0.7);
  box-shadow: 0px -1px 0px 0px inset rgba(0, 0, 0, 0.15);
  transition: 0.1s ease-in;
  backdrop-filter: saturate(180%) blur(5px);

  header {
    position: relative;
    z-index: 1001;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-3) 0;
    transition: var(--transition);
    @include responsive('mobile') {
      height: calc(var(--header-height) * 0.8)
    }


    .nav--desktop {
      opacity: 0;
      pointer-events: none;
      transition: opacity ease-in 0.1s;
      will-change: opacity;

      &.active {
        opacity: 1;
        pointer-events: all;
      }
    }

    .social-icons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      transition: var(--transition);

      .social-icons__link {
        height: 100%;
        display: block;
        padding: var(--spacing-2);
        color: inherit;
        font-size: var(--font-size-nav);
        font-weight: var(--font-weight-nav);
        text-decoration: none;
        transition: color ease-in-out 0.17s;
        /*&:last-of-type {
            margin-right: var(--spacing-6);
        }
*/
        &:hover, &:focus, &:active, &.active {
          outline: none;
          color: var(--color-accent);
        }
      }

      .social-icons__link--version {
        font-size: var(--font-size-smaller);
      }
    }

    .nav-buttom {
      transition: var(--transition);
    }

    .nav-icon {
      position: absolute;
      z-index: 2100;
      right: calc((100% - var(--frame-width)) / 2);
      height: 24px;
      display: flex;
      align-items: center;
      cursor: pointer;
      font-size: 34px;
      transition: color 0.05s;
      transition-delay: 0s;
      will-change: width;

      &:hover, &:focus, &:active {
        color: var(--color-accent)
      }

      @include responsive('fullscreen') {
        right: 0%;
      }
    }

    /* Active Scrolled Down Effect*/
    &:not(.scrolled-down) .nav-icon {
      width: 0;
      opacity: 0;
      pointer-events: none;
      transition-delay: 0s;
    }

    &.scrolled-down {
      height: calc(var(--header-height) * 0.8);
      padding: calc(var(--spacing-3) * 0.8) 0;
      transition: var(--transition-2);

      .nav, .social-icons, .nav-button {
        opacity: 0;
        pointer-events: none;
        transition: var(--transition-2);
      }

      .nav-icon {
        width: auto;
        opacity: 1;
        transition: var(--transition) 0.05s;
      }
    }
  }
}