.container {
  position: relative;
  min-width: 1px;
  max-width: 100%;
  display: flex;
  align-items: var(--align-items);
  flex: var(--flex);
  justify-content: var(--justify-content);

  @include responsive('desktop') {
    flex-direction: var(--flex-direction);
  }
  @include responsive('tablet') {
    flex-direction: var(--flex-direction-t);
  }
  @include responsive('mobile') {
    flex-direction: var(--flex-direction-m);
  }
}

