@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  /* Load system fonts */
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Helvetica Neue, sans-serif;
  /* Make type rendering look crisper */
  font-size: 10px;
  -webkit-font-smoothing: antialiased; /**/
  /* Disable auto-enlargement of small text in Safari */
  -moz-osx-font-smoothing: grayscale;
  /* Enable kerning and optional ligatures */
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/**
 * Form elements render using OS defaults,
 * so font-family inheritance must be specifically declared
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

body {
  margin: 0;
}

input {
  outline: none;
  background: none;
}

ol, ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, li, ol, p, ul {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-style: normal;
}

button, input, select, textarea {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

:focus {
  outline: -webkit-focus-ring-color auto 0;
}

.page {
  background-color: #ebeced;
  overflow-y: auto;
  height: 100%;
}

.page2 {
  min-height: 300vh;
  background-color: #ebeced;
}

body {
  overflow: hidden;
}

.body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}